<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="knowtech-chat-contacts-manager"
    version="1.0.0">
    <name>Knowtech Chat Contacts Manager</name>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="ContactsManager" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ContactsManager">
          <param name="android-package" value="com.knowtech.ContactsManager" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.READ_CONTACTS" />
      </config-file>
      <source-file src="src/android/com/knowtech/ContactsManager.java" target-dir="src/com/knowtech/" />
      <source-file src="src/android/com/knowtech/Contact.java" target-dir="src/com/knowtech/" />
    </platform>
</plugin>
