<page
    *ngIf="room"
    [title]="room.topic"
    [actions]="actions"
    subtitle="{{ 'room.subtitle' | translate: { members: room.memberIds.length } }}"
>

    <div class="messages" #messages padding>

        <div *ngFor="let message of roomMessages | async" [ngClass]="{
                'message': true,
                'outgoing': message.authorId == user.id
            }">

            <div class="bubble">

                <span class="author">
                    {{ message.authorUsername }}
                </span>

                <span *ngIf="!message.isContact" class="text">
                    {{ message.text }}
                </span>

                <span *ngIf="message.isContact" class="text">
                    Contact: {{ message.text.name }}
                </span>

                <button ion-button *ngIf="message.isContact" (click)="addContact(message.text)">
                    {{ 'room.add_contact' | translate }}
                </button>

                <span class="info">
                    {{ message.date.calendar() }}
                </span>

            </div>

        </div>

    </div>

    <ion-footer footer>

        <ion-toolbar>

            <ion-input
                [placeholder]="'room.message_placeholder' | translate"
                [(ngModel)]="message"
            ></ion-input>

            <ion-buttons end>

                <button ion-button icon-only (click)="attach($event)">
                    <ion-icon name="attach"></ion-icon>
                </button>

                <button ion-button color="primary" (click)="sendMessage()">
                    {{ 'room.send_message' | translate }}
                </button>

            </ion-buttons>

        </ion-toolbar>

    </ion-footer>

</page>